header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: midnightblue;
    color: white;
    margin: none;
}

.inputSkill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    margin: .5em;
}

button {
    max-width: 100px;
    margin: 1em;

}

ul {
    list-style: none;
}

input {
    min-width: 200px;

}