


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: grey;
    color: white;
    margin: none;
}

.inputSkill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: .5em;
    margin: .5em;

}

button {
    max-width: 100px;
    margin: 1em;
}

input {
    min-width: 200px;
}